    <section id="icon-menu">
        <button id="recall-btn">
            <span>Recall Alerts</span>
        </button>
        <button id="adverse-reaction-btn">
            <span>Adverse Reaction Alerts</span>
        </button>
        <button id="labeling-changes-btn">
            <span>Labeling Change News</span>
        </button>
    </section>    
    <section id="main-section">
        <div id="search">
            <h1>MedWatch</h1>
            <h2>The FDA Safety Information and Adverse Events Reporting Program</h2>
            <div class="inner-section">
                <form>
                    <input type="text" class="form-control" placeholder="Search for a drug or medical device"></input>
                    <fieldset>
                        <h6>Types of Alerts</h6>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1" checked>Recalls
                        </label> 
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">Adverse Reactions
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">Labeling Changes
                        </label>
                    </fieldset>
                    <!-- <div class="form-group">
                        <label for="dp2" class="col-sm-2 control-label">Range</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="input-icon icon icon-calendar-o"></span>
                                    <input id="dp2" placeholder="From" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" type="text" class="datepicker form-control" >
                                </div>
                                <div class="col-sm-5">
                                    <span class="input-icon icon icon-calendar-o"></span>
                                    <input id="dp3" placeholder="To" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" type="text" class="datepicker form-control" >
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="dialog-bottom">
                        <a href="#" class="more-options">More Options</a>
                        <button type="submit">Search MedWatch</button>
                    </div>
                </form>
            </div>
        </div> <!-- end div.inner-section -->
        <recallmap id="recall-map"></recallmap>
    </section> <!-- end #main-section -->
    <section id="newsfeed">
        <h2>Recall Alerts</h2>
        <div id="recall-alerts">
            <div class-"article">
                <div class="image-placeholder"></div>
                <h3>Headline</h3>
                <p>
                    <span class="date">January 1, 2015</span>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </p>
            </div>
            <div class-"article">
                <div class="image-placeholder"></div>
                <h3>Headline</h3>
                <p>
                    <span class="date">January 1, 2015</span>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                </p>
            </div>
            <div class-"article">
                <div class="image-placeholder"></div>
                <h3>Headline</h3>
                <p>
                    <span class="date">January 1, 2015</span>
                    <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</span>
                </p>
            </div>
            <div class-"article">
                <div class="image-placeholder"></div>
                <h3>Headline</h3>
                <p>
                    <span class="date">January 1, 2015</span>
                    <span>This book is a treatise on the theory of ethics, very popular during the Renaissance.</span>
                </p>
            </div>
            <div class-"article">
                <div class="image-placeholder"></div>
                <h3>Headline</h3>
                <p>
                    <span class="date">January 1, 2015</span>
                    <span>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                </p>
            </div>
        </div>
        <div id="reaction-alerts" class="hidden">
            
        </div>
        <div id="labeling-alerts" class="hidden">
            
        </div>
    </section> <!-- end #sidebar -->

    <script>
        var showDrawer = function(){
            $('#newsfeed').toggleClass('open');
        };
        $('#icon-menu button').click(showDrawer);
    </script>
    
