    <section id="icon-menu">
        <button id="recall-btn" class="tooltip-right" ng-class="{ 'active': isActiveButton('recall-btn') }" ng-click="toggleDetails($event, 'off')">
            <span class="tooltip-body">Recall Map</span>
        </button>
        <button id="drug-detail-btn" class="tooltip-right" ng-class="{ 'active': isActiveButton('drug-detail-btn') }" ng-click="toggleDetails($event, 'on')">
            <span class="tooltip-body">Drug Details</span>
        </button>
        <button id="data-visual-btn" class="tooltip-right" disabled>
            <span class="tooltip-body">MedWatch Statistics (Future)</span>
        </button>
        <button id="education-btn" class="tooltip-right" disabled>
            <span class="tooltip-body">Educational Resources (Future)</span>
        </button>
        <button id="settings-btn" class="tooltip-right" disabled>
            <span class="tooltip-body">Settings (Future)</span>
        </button>
    </section>
