    <section id="icon-menu">
        <button id="recall-btn" class="tooltip-right" ng-click="toggleDetails('off')">
            <span class="tooltip-body">Recall Map</span>
        </button>
        <button id="drug-detail-btn" class="tooltip-right" ng-click="toggleDetails('on')">
            <span class="tooltip-body">Drug Details</span>
        </button>
        <button id="data-visual-btn" class="tooltip-right" disabled>
            <span class="tooltip-body">MedWatch Statistics</span>
        </button>
        <button id="education-btn" class="tooltip-right" disabled>
            <span class="tooltip-body">Educational Resources</span>
        </button>
        <button id="settings-btn" class="tooltip-right" disabled>
            <span class="tooltip-body">Settings</span>
        </button>
    </section>
