        <div id="search">
            <form ng-submit="submitSearch($event)" novalidate>
                <input type="search" name="search" id="search-box-box" ng-model="searchTerm" class="form-control search-box tooltip-bottom-right" placeholder="Enter a Drug Name" required></input>
                <span class="tooltip-body" ng-if="no_results">There are no results for {{fixedSearchTerm}} in the date range (if any) supplied. We suggest using the generic name or active ingredient.</span>
                <div class="form-group date-picker">
                    <label for="dp2" class="control-label">Date Range</label>
                    <div>
                        <input id="dp2" placeholder="mm/dd/yyyy" ng-model="fromDate" type="text" class="datepicker form-control" >
                    </div>
                    <div>
                        <input id="dp3" placeholder="mm/dd/yyyy" ng-model="toDate" type="text" class="datepicker form-control" >
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" title="Search" value="Search">Search</button>
            </form>
        </div>
