        <div id="search">
            <form ng-submit="submitSearch()" novalidate>
                <input type="text" ng-model="term" class="form-control search-box" placeholder="Enter a Drug Name" required></input>
                <div class="form-group date-picker">
                    <label for="dp2" class="control-label">Date Range</label>
                    <div>
                        <input id="dp2" placeholder="mm/dd/yyyy"  type="text" class="datepicker form-control" >
                    </div>
                    <div>
                        <input id="dp3" placeholder="mm/dd/yyyy"  type="text" class="datepicker form-control" >
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>