@gray: #777;
@gray-dark: #333;
@gray-light:#aaa;
@gray-lighter:#ccc;

@header-background: @gray;

@border-radius: 5px;
@border-radius-large:10px;
@subtle-border: 1px solid rgba(0, 0, 0, 0.5);

@container-max-width:300rem;
@to-be-completed: #97B8D4;