
// Typography
@font-family-sans-serif: "Segoe UI", Helvetica Neue, Tahoma, Arial, sans-serif;
@headings-font-family: "Roboto", "Segoe UI", Helvetica Neue, Tahoma, Arial, sans-serif;

@text-color: #485E74;
@text-muted: #859DAC;

@font-size-small:                       1.4rem;
@font-size-normal:                      1.6rem;
@font-size-large:                       1.8rem;
@font-size-larger:                      2.2rem;

// Colors
@brand-primary-color:             #003351; // navy blue
@brand-secondary-color:            #174599; // blue
@accent-color-1:                        #06B8A7; // teal 
@accent-color-2:                    #A5D842; // lime
@accent-color-3:                      #EAE2AD; // tan
@accent-color-4:                        #F0EDE4; // beige
@accent-color-5:                         #EBF1F5; // light blue
@accent-color-6:                            #D8DFE5;  // steel blue

@gray:                                  #777;
@gray-dark:                             #333;
@gray-light:                            #aaa;
@gray-lighter:                          #ddd;

// Borders
@border-radius:                            3px;
@border-radius-large:                   6px;

@subtle-border:                         1px solid @gray-lighter;
@border:                                1px solid @gray-light;

// Layout
@container-max-width:                   300rem;

@margin-base:                           1rem;
@margin-small:                          .5rem;
@margin-large:                          3rem;

// Buttons
@btn-danger-bg: #C90900;

@btn-default-bg: @brand-secondary-color;
@btn-default-border: darken(@brand-secondary-color,3%);
@btn-default-color: white;

@btn-primary-bg: @accent-color-1;
@btn-primary-border: darken(@accent-color-1,3%);
@btn-primary-color: white;

// Misc
@to-be-completed:                       #97B8D4;




